# Python virtual environments
venv/
.venv/
ENV/
env/
rag-project/Lib/
rag-project/Scripts/
rag-project/Include/
rag-project/share/
rag-project/pyvenv.cfg
rag-project/Lib/site-packages/
python-gemini/venv
# Ignore Python virtual environments
venv/
.venv/
env/
.env/
ENV/
.env.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
